extends layout

block content
    .main.container
        .row
            h1 Add Homework
            a(href="/home") Go back
            form(method='POST' action='/addhomework')
                div.form-group
                    label(for='homeworkname') Homework Name: 
                    input.form-control(type='text' id='homeworkname' placeholder='Homework Name' name='homeworkname')
                div.form-group
                    label(for='courseid') Course Id: 
                    input.form-control(type='text' id='courseid' placeholder='Course Id' name='courseid')
                div.form-group
                    label(for='type') Homework Type: 
                    input.form-control(type='text' id='type' placeholder='Homework Type' name='type')
                div.form-group
                    label(for='duedate') Dude Date (YYYY-MM-DD HH:MM:SS): 
                    input.form-control(type='text' id='duedate' placeholder='Due Date' name='duedate')
                div.form-group
                    label(for='priority') Priority: 
                    input.form-control(type='text' id='priority' placeholder='Priority' name='priority')
                div.form-group
                    label(for='description') Description: 
                    input.form-control(type='text' id='description' placeholder='Description' name='description')
                button.btn.btn-primary(type='submit') Submit
    .tbl-content
        p Courses you teach:
        table(cellpadding='5', cellspacing='1', border='1')
            thead
                tr
                    th CourseId
                    th Course Name
                    th Course Code
                    th Start Date
                    th End Date
                    th Location
                    th Professor
            tbody
                each row in table
                    tr
                        td= row.CourseId
                        td= row.Coursename
                        td= row.CourseCode
                        td= row.StartDate
                        td= row.EndDate
                        td= row.location
                        td= row.Professor
            