extends layout

block content
    .main.container
        .row
            h1 Add Student to Course
            a(href="/course") Go back
            form(method='POST' action='/addstudent')
                div.form-group
                    label(for='courseid') Course Id: 
                    input.form-control(type='text' id='courseid' placeholder='Course Name' name='courseid')
                div.form-group
                    label(for='username') Student Username: 
                    input.form-control(type='text' id='coursename' placeholder='Course Name' name='coursename')
                div.form-group
                    label(for='firstname') Student First Name: 
                    input.form-control(type='text' id='coursename' placeholder='Course Name' name='coursename')
                div.form-group
                    label(for='lastname') Student Last Name: 
                    input.form-control(type='text' id='coursename' placeholder='Course Name' name='coursename')
                button.btn.btn-primary(type='submit') Submit
    .tbl-content
        table(cellpadding='5', cellspacing='1', border='1')
            thead
                tr
                    th Course Id
                    th Course Name
                    th Course Code
                    th Start Date
                    th End Date
                    th Location
                    th Professor
            tbody
                each row in table
                    tr
                        td= row.CourseId
                        td= row.Coursename
                        td= row.CourseCode
                        td= row.StartDate
                        td= row.EndDate
                        td= row.location
                        td= row.Professor
            