extends layout

block content
    .navigation-bar
        ul
            li(style="float:right")
                a(href="/logout") Log out
            li
                a(href="/home") Home
            li
                a(href="/course") Courses
            li
                a(href="/profile") Profile
    .main.container
        .row
            h1 Home Page
            form(method='GET' action='/addcourse')
                button.btn.btn-primary(type='submit') Add Course
            form(method='GET' action='/editcourse')
                button.btn.btn-primary(type='submit') Edit Course
    .tbl-content
        table(cellpadding='5', cellspacing='1', border='1')
            thead
                tr
                    th CourseId
                    th Course Name
                    th Course Code
                    th Start Date
                    th End Date
                    th Location
                    th Professor
            tbody
                each row in table
                    tr
                        td= row.CourseId
                        td= row.Coursename
                        td= row.CourseCode
                        td= row.StartDate
                        td= row.EndDate
                        td= row.location
                        td= row.Professor
                            