extends layout

block content
    .main.container
        .row
            h1 Edit Course
            p Enter all values even if you aren't changing them
            a(href="/course") Go back
            form(method='POST' action='/editcourse')
                div.form-group
                    label(for='courseid') Course Id to Edit: 
                    input.form-control(type='text' id='courseid' placeholder='Course Name' name='courseid')
                div.form-group
                    label(for='coursename') Course Name: 
                    input.form-control(type='text' id='coursename' placeholder='Course Name' name='coursename')
                div.form-group
                    label(for='coursecode') Course Code: 
                    input.form-control(type='text' id='coursecode' placeholder='Course Name' name='coursecode')
                div.form-group
                    label(for='startdate') Start Date (YYYY-MM-DD): 
                    input.form-control(type='text' id='startdate' placeholder='Start Date' name='startdate')
                div.form-group
                    label(for='enddate') End Date (YYYY-MM-DD): 
                    input.form-control(type='text' id='enddate' placeholder='End Date' name='enddate')
                div.form-group
                    label(for='location') Location: 
                    input.form-control(type='text' id='location' placeholder='Location' name='location')
                div.form-group
                    label(for='professor') Professor: 
                    input.form-control(type='text' id='professor' placeholder='Professor' name='professor')
                button.btn.btn-primary(type='submit') Submit
    .tbl-content
        p Courses you teach:
        table(cellpadding='5', cellspacing='1', border='1')
            thead
                tr
                    th Course Id
                    th Course Name
                    th Course Code
                    th Start Date
                    th End Date
                    th Location
                    th Professor
            tbody
                each row in table
                    tr
                        td= row.CourseId
                        td= row.Coursename
                        td= row.CourseCode
                        td= row.StartDate
                        td= row.EndDate
                        td= row.location
                        td= row.Professor
            