extends layout

block content
    .largeWindow
        .navigation-bar
            ul
                li(style="float:right")
                    a(href="/logout") Log out
                li
                    a(href="/studenthome") Home
                li
                    a(href="/studentcourse") Courses
                li
                    a(href="/studentprofile") Profile
        .row
            h1 Home Page
            form(method='POST' action='/studenthome') 
                div.form-group
                    label(for='completehomeworkid') Homeowrk Id to complete: 
                    input.form-control(type='text' id='completehomeworkid' placeholder='Homework ID' name='completehomeworkid')
                    button.btn.btn-primary(type='submit') Complete Homeowrk
        .tbl-content
            p Homework you are assigned:
            table(cellpadding='5', cellspacing='1', border='1')
                thead
                    tr
                        th TaskId
                        th Task Name
                        th Course Name
                        th Course Code
                        th Homework Type
                        th Due Date
                        th Priority
                        th Description
                        th Professor
                tbody
                    each row in table
                        tr
                            td= row.TaskId
                            td= row.Taskname
                            td= row.Coursename
                            td= row.CourseCode
                            td= row.HomeworkType
                            td= row.DueDate
                            td= row.Priority
                            td= row.Description
                            td= row.Professor
                            